body {
    text-align: center;
    margin:0 auto;
    color:#f9f9f9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    background-color:#c9c9c9;
    font-size:2.5vw;
    color:#fefefe;
    background-color:#010101;
}
table{
    border-spacing:0;
    
}
#clock{
    font-size:1.5vw;
    background-color:#01003d;
    color:#fffd90;
}
.main{
    background-color: #555555;
    width:100vw;
    
}
.col{
    font-size:1.8vw;
}
.big{
    font-size:2vw;
    background-color: #111111;
}
td{
    max-height:15vh;
    
}
.none{
    display:none;
}
.a{
    width:6vw;
}
.b{
    width:12vw;
}
.c{
    width:30vw;
}
.d{
    width:18vw;
}
.e{
    width:10vw;
}
.f{
    width:24vw;
}
.exp{
    font-size:2vw;
    color:rgb(255, 217, 0);
    overflow: hidden;
    width:20vw;
    max-width:20vw;
}
    
.exp > p {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation-name: MarqueeScroll;
    animation-timing-function: linear;
    animation-duration: 8s; /* 1周するのにかかる時間 */
    animation-iteration-count: infinite; /* 繰り返す回数 */
}
    
@keyframes MarqueeScroll {
    from { transform: translateX(0);}
    to { transform: translateX(-100%);}
}
.for_j{
    font-size:4vw;
}
td.for_j{
    border:none;
}
.for_e{
    font-size:1.5vw;
}
.local{
    background-color:#0000ff;
    font-size:3vw;
    padding:0.8vw 0;
    border-radius: 2vw;
}
.jr_lo{
    background-color:#00A7E3;
    font-size:2vw;
    padding:1.6vw 0;
    border-radius: 2vw;
}
.ra{
    background-color:#ff1111;
    font-size:3vw;
    padding:0.8vw 0;
    border-radius: 2vw;
}
.yoko{
    background-color:#85C023;
    font-size:2.3vw;
    padding:1.3vw 0;
    border-radius: 2vw;
}
.eng{
    font-size:3vw;
    padding:1vw 0;

}
.ads{
    color:orange;
    font-size:4vw;
}
#bl{
    background-color:#2f00ff;
}
#jr{
    background-color:#22aa22;
}
.final{
    color:red;
}
@media screen and (max-width: 767px) {
    .none{
        display:table-row;
    }
}